.header {
  height: 362px;
  background-image: url("../../../images/banner-image.jpg");
  background-repeat: no-repeat;
  background-size: 1440px 362px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h4 {
  font-size: 48px;
  text-align: center;
  color: aliceblue;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    background-size: 800px 362px;
  }
  .header h4 {
    font-size: 48px;
    text-align: center;
    color: aliceblue;
  }
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
    background-size: 500px 362px;
  }
  .header h4 {
    font-size: 48px;
    text-align: center;
    color: aliceblue;
  }
}
